 /* ==== MAIN CSS ==== */

* {
  box-sizing: border-box;
}

/* ----------------------------------
SEARCH BAR
---------------------------------- */

.search-flex-contain {
  display: flex;
  flex-direction: row;

}

#searchbox {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #dedede;
  text-indent: 10px;
  transition: outline-color .3s;
}

#searchbox::placeholder {
  color: #a6a6a6;
}

#searchbox:focus,
#searchbox:active {
  outline-color: rgba(255, 210, 150, 0.53);
}


/* ----------------------------------
GALLERY
---------------------------------- */

.container {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  width:90%;
  max-width: 1245px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.thumb-container {
  display: inline;
}

.thumb-img {
  width: 42%;
  margin: 15px;
  max-width: 250px;
  border-radius: 10px;
  transition: transform .3s,
              opacity .5s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}

.thumb-img:hover {
  transform: scale(1.03);
  opacity: .8;
}

/* ----------------------------------
LIGHTBOX 2 - PLUGIN ALTERATIONS
---------------------------------- */

.lightbox .lb-dataContainer, .lightbox .lb-outerContainer, .lightbox .lb-container, .lightbox .lb-image {
  max-width: 100%;
  height: auto !important;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
}

.lightbox .lb-outerContainer {
  background-color: transparent;

}

.lb-data .lb-details {
  text-align: center;
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  float:none;
}

.lb-data .lb-close {
  position: absolute;
  float:none;
  right: 13%;
  top: 50px;

}

.lb-data {
  position:relative;
}





/* ----------------------------------
MEDIA QUERIES
---------------------------------- */

@media (min-width: 635px) {

  .thumb-img {
    width: 27%;
  }

  .lb-data .lb-close {
    top: 5px;
  }

  .lb-data .lb-details {
    width: 60%;
  }



}

@media (min-width: 900px) {

  .thumb-img{
    width: 19%;
    margin: 20px;
  }

  .lightbox .lb-dataContainer, .lightbox .lb-outerContainer, .lightbox .lb-container, .lightbox .lb-image {
  max-width: 89%;
  }

}
